[color]
	ui = true
[core]
	editor = vim -c 'startinsert'
	excludesfile = ~/.gitignore_global
[user]
	email = jeremy.saenz@gmail.com
	name = Jeremy Saenz
[github]
	user = codegangsta
[alias]
  co = checkout
