[color]
  ui = true
[core]
  editor = nvim -c 'startinsert'
  excludesfile = ~/.gitignore_global
[user]
  email = jeremy.saenz@gmail.com
  name = Jeremy Saenz
[github]
  user = codegangsta
[alias]
  co = checkout
  c = commit -v
  lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
  pb = "!git push origin \"$(git rev-parse --abbrev-ref HEAD)\""
  db = "!git push origin :\"$(git rev-parse --abbrev-ref HEAD)\""
  pbf = "!git push -f origin \"$(git rev-parse --abbrev-ref HEAD)\""
  up = "!git pull --rebase origin \"$(git rev-parse --abbrev-ref HEAD)\""
[init]
  defaultBranch = main
[pull]
  rebase = true
[format]
  signOff = true
[commit]
	gpgsign = true
