.*.s[a-w][a-z]
.swp
*.un~
Session.vim
.netrwhist
*~

config/nats
config/gh
config/github-copilot
config/asciinema
config/nvim.bak/plugin
config/op
config/gcloud
config/raycast
config/fish/secrets.fish
config/stripe
config/autostart
config/configstore
config/zed/prompts
config/neonctl


# Ignore some files from cursor/vscode user directory
config/cursor/globalStorage
config/cursor/History
config/cursor/workspaceStorage
